@font-face {
  font-family: 'Blinker';
  font-style: normal;
  font-weight: 400;
  src: url("../font/blinker-400.woff2") format("woff2"), url("../font/blinker-400.woff") format("woff");
}

@font-face {
  font-family: 'Blinker';
  font-style: normal;
  font-weight: 700;
  src: url("../font/blinker-700.woff2") format("woff2"), url("../font/blinker-700.woff") format("woff");
}

@font-face {
  font-family: 'Anonymous Pro';
  font-style: normal;
  font-weight: 400;
  src: url("../font/anonymous-pro-400.woff2") format("woff2"), url("../font/anonymous-pro-400.woff") format("woff");
}

@font-face {
  font-family: 'Anonymous Pro';
  font-style: normal;
  font-weight: 700;
  src: url("../font/anonymous-pro-700.woff2") format("woff2"), url("../font/anonymous-pro-700.woff") format("woff");
}

@font-face {
  font-family: 'ForkAwesome';
  font-style: normal;
  font-weight: normal;
  src: url("../font/forkawesome.woff2") format("woff2"), url("../font/forkawesome.woff") format("woff");
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #202020;
  color: #f0f0f0;
  font-family: "Blinker", sans-serif;
  font-size: 15px;
  margin: 0px;
}

body.center {
  display: grid;
  place-items: center center;
}

@media (max-width: 768px) {
  body {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  body {
    font-size: 17px;
  }
}

@media (min-width: 577px) {
  body.center {
    height: 100vh;
    overflow: hidden;
  }
}

body:not(.center) > div.container {
  margin: 0px auto;
  max-width: 1200px;
}

@media (min-width: 1201px) {
  body:not(.center) > div.container {
    padding: 8px 0px;
  }
}

body.center > div.container {
  padding: 0px 8px;
}

::selection {
  background-color: rgba(160, 64, 255, 0.5);
}

h1::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
  color: #a040ff;
  content: '\2605';
  padding-right: 0.2em;
}

h1::after,
h2::after,
h3::after,
h4::after,
h5::after,
h6::after {
  color: #a040ff;
  content: '\2605';
  padding-left: 0.2em;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

a {
  color: #a040ff;
  text-decoration: none;
}

a:hover {
  color: #b973ff;
  text-decoration: underline;
}

a:visited {
  color: #870dff;
}

pre, code, kbd, samp, textarea {
  font-family: "Anonymous Pro";
}

textarea {
  font-size: unset;
  font-weight: unset;
}

mark {
  background-color: #c080ff;
}

hr {
  border: 0px;
  border-top: 1px solid #3a3a3a;
}

table {
  border: 1px solid #3a3a3a;
  border-collapse: collapse;
  border-spacing: 0px;
  width: 100%;
  max-width: 100%;
  margin: 8px 0px;
  text-align: left;
  table-layout: fixed;
}

@media (max-width: 576px) {
  table {
    margin: 0px;
  }
}

table th, table td {
  border: 1px solid #3a3a3a;
  padding: 8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

table:not(.striped) th, table.striped > tbody > tr:nth-of-type(2n + 1) {
  background-color: #2d2d2d;
}

input, button, select {
  font-family: unset;
  font-size: unset;
  font-weight: unset;
}

span.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

a.button {
  display: inline-block;
  text-align: center;
  vertical-align: baseline;
  cursor: default;
  user-select: none;
}

a.button:hover, a.button:visited {
  color: unset;
  text-decoration: unset;
}

a.button,
input[type=button],
input[type=submit],
input[type=reset],
input[type=color],
button {
  background: linear-gradient(to bottom, #b973ff, #a040ff, #870dff);
  color: white;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  padding: 4px 8px;
  border: 1px solid #6000c0;
  border-radius: 4px;
}

a.button:hover,
input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover,
input[type=color]:hover,
button:hover {
  background: linear-gradient(to bottom, #d3a6ff, #b973ff, #a040ff);
}

a.button:active,
input[type=button]:active,
input[type=submit]:active,
input[type=reset]:active,
input[type=color]:active,
button:active {
  background: linear-gradient(to bottom, #870dff, #a040ff, #b973ff);
}

a.button:disabled,
input[type=button]:disabled,
input[type=submit]:disabled,
input[type=reset]:disabled,
input[type=color]:disabled,
button:disabled {
  background: linear-gradient(to bottom, #b9b9b9, #a0a0a0, #868686);
  border-color: #606060;
}

a.button:disabled.pressed,
input[type=button]:disabled.pressed,
input[type=submit]:disabled.pressed,
input[type=reset]:disabled.pressed,
input[type=color]:disabled.pressed,
button:disabled.pressed {
  background: linear-gradient(to bottom, #6d00d9, #870dff, #a040ff);
  border-color: #6000c0;
}

a.button:focus,
input[type=button]:focus,
input[type=submit]:focus,
input[type=reset]:focus,
input[type=color]:focus,
button:focus {
  outline: 1px dotted white;
  outline-offset: -5px;
}

span.buttons > a.button:not(:first-child), span.buttons > input[type=button]:not(:first-child), span.buttons > input[type=submit]:not(:first-child), span.buttons > input[type=reset]:not(:first-child), span.buttons > input[type=color]:not(:first-child), span.buttons > button:not(:first-child) {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

span.buttons > a.button:not(:last-child), span.buttons > input[type=button]:not(:last-child), span.buttons > input[type=submit]:not(:last-child), span.buttons > input[type=reset]:not(:last-child), span.buttons > input[type=color]:not(:last-child), span.buttons > button:not(:last-child) {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-right: -1px;
}

input[type=color] {
  height: 2em;
}

input[type=text],
input[type=password],
input[type=url],
input[type=email],
input[type=tel],
input[type=search],
input[type=number],
input[type=date],
input[type=month],
input[type=week],
input[type=datetime],
input[type=datetime-local],
textarea,
select {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: 1px black solid;
  border-radius: 2px;
  padding: 4px;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=url]:focus,
input[type=email]:focus,
input[type=tel]:focus,
input[type=search]:focus,
input[type=number]:focus,
input[type=date]:focus,
input[type=month]:focus,
input[type=week]:focus,
input[type=datetime]:focus,
input[type=datetime-local]:focus,
textarea:focus,
select:focus {
  outline: 1px #a040ff solid;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0px;
}

input[type=number] {
  -moz-appearance: textfield;
}

fieldset {
  border: 1px solid #3a3a3a;
}

fieldset > legend {
  color: #b0b0b0;
  padding: 0px 4px;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.hidden {
  display: none !important;
}

@media (max-width: 576px) {
  .hidden-phone {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .hidden-tablet {
    display: none !important;
  }
}

@media (max-width: 992px) {
  .hidden-laptop {
    display: none !important;
  }
}

@media (max-width: 1200px) {
  .hidden-desktop {
    display: none !important;
  }
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.wide {
  width: 100%;
}

.spaced {
  margin: 8px;
}

.spaced-small {
  margin: 4px;
}

.spaced-large {
  margin: 16px;
}

.spaced-left {
  margin-left: 8px;
}

.spaced-left-small {
  margin-left: 4px;
}

.spaced-left-large {
  margin-left: 16px;
}

.spaced-top {
  margin-top: 8px;
}

.spaced-top-small {
  margin-top: 4px;
}

.spaced-top-large {
  margin-top: 16px;
}

.spaced-right {
  margin-right: 8px;
}

.spaced-right-small {
  margin-right: 4px;
}

.spaced-right-large {
  margin-right: 16px;
}

.spaced-bottom {
  margin-bottom: 8px;
}

.spaced-bottom-small {
  margin-bottom: 4px;
}

.spaced-bottom-large {
  margin-bottom: 16px;
}

.muted {
  color: #888888;
}

.ghost {
  opacity: 0.5;
}

.uwu {
  text-transform: lowercase;
}

canvas.intro {
  background-color: black;
  filter: blur(1px);
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

body.center > div.container.intro {
  background-color: rgba(32, 32, 32, 0.75);
  padding: 0px 16px 16px;
  border-radius: 8px;
}

body.modal {
  overflow: hidden;
}

div.modal {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: grid;
  place-items: center center;
  user-select: none;
}

div.modal > div.content {
  border: 1px solid black;
  background-color: #202020;
  padding: 16px;
}

div.modal > div.content h1, div.modal > div.content h2, div.modal > div.content h3, div.modal > div.content h4, div.modal > div.content h5, div.modal > div.content h6 {
  margin-top: 0px;
  margin-bottom: 16px;
  text-align: center;
}

ol.path {
  list-style-type: none;
  padding: 0px 0px 0px 8px;
}

ol.path > li {
  display: inline;
}

ol.path > li:not(:last-child)::after {
  color: #ababab;
  font-family: "ForkAwesome";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  content: '\f105';
  margin: 0px 4px;
}

nav.path {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  padding: 8px;
}

@media (max-width: 1200px) {
  nav.path {
    border-radius: 0px;
  }
}

nav.path > ol.path {
  margin: 0px;
  padding: 0px;
}

span.icon {
  display: inline-block;
  font-family: "ForkAwesome";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: inherit;
  line-height: 1;
  text-align: center;
  text-rendering: auto;
  width: 1.25em;
}

span.icon.music:before {
  content: '\f001';
}

span.icon.film:before {
  content: '\f008';
}

span.icon.th-large:before {
  content: '\f009';
}

span.icon.th:before {
  content: '\f00a';
}

span.icon.th-list:before {
  content: '\f00b';
}

span.icon.times:before {
  content: '\f00d';
}

span.icon.power-off:before {
  content: '\f011';
}

span.icon.cog:before {
  content: '\f013';
}

span.icon.home:before {
  content: '\f015';
}

span.icon.file-o:before {
  content: '\f016';
}

span.icon.clock-o:before {
  content: '\f017';
}

span.icon.download:before {
  content: '\f019';
}

span.icon.picture-o:before {
  content: '\f03e';
}

span.icon.map-marker:before {
  content: '\f041';
}

span.icon.info-circle:before {
  content: '\f05a';
}

span.icon.eye:before {
  content: '\f06e';
}

span.icon.folder-open:before {
  content: '\f07c';
}

span.icon.link:before {
  content: '\f0c1';
}

span.icon.files-o:before {
  content: '\f0c5';
}

span.icon.spinner:before {
  content: '\f110';
}

span.icon.circle:before {
  content: '\f111';
}

span.icon.folder-open-o:before {
  content: '\f115';
}

span.icon.external-link-square:before {
  content: '\f14c';
}

span.icon.file:before {
  content: '\f15b';
}

span.icon.sort-alpha-asc:before {
  content: '\f15d';
}

span.icon.sort-amount-asc:before {
  content: '\f160';
}

span.icon.sort-amount-desc:before {
  content: '\f161';
}

span.icon.sort-numeric-asc:before {
  content: '\f162';
}

span.icon.database:before {
  content: '\f1c0';
}

span.icon.image-o:before {
  content: '\f1c5';
}

span.icon.audio-o:before {
  content: '\f1c7';
}

span.icon.video-o:before {
  content: '\f1c8';
}

span.icon.map-o:before {
  content: '\f278';
}

span.icon.spinner {
  animation: spin 2s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

header.header {
  border: 1px solid #070707;
  background-color: #404040;
  border-radius: 4px;
  margin: 0px 0px 8px;
  padding: 8px;
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  white-space: nowrap;
}

@media (max-width: 1200px) {
  header.header {
    border-width: 0px 0px 1px;
    border-radius: 0px;
  }
}

@media (max-width: 576px) {
  header.header {
    margin-bottom: 0px;
  }
}

header.header > h1, header.header > h2, header.header > h3, header.header > h4, header.header > h5, header.header > h6 {
  text-transform: revert;
  font-size: 1.2em;
  margin: 0px auto 0px 8px;
  overflow: hidden;
  text-overflow: ellipsis;
}

header.header > h1::before, header.header > h1::after,
header.header > h2::before, header.header > h2::after,
header.header > h3::before, header.header > h3::after,
header.header > h4::before, header.header > h4::after,
header.header > h5::before, header.header > h5::after,
header.header > h6::before, header.header > h6::after {
  color: revert;
  content: revert;
  padding-left: revert;
  padding-right: revert;
}

header.header > *:not(:first-child) {
  margin-left: 8px;
}

header.header > span.flag {
  font-size: 21px;
  align-self: center;
}

header.header > img.avatar {
  align-self: center;
  clip-path: circle(50% at center);
}

header.header > span.username {
  font-weight: bold;
  text-decoration: underline dotted;
  cursor: pointer;
}

span.pill {
  display: inline-block;
  color: white;
  border-radius: 8px;
  background-color: rgba(64, 64, 64, 0.75);
  text-align: center;
  font-weight: bold;
  min-width: 1.5em;
}

span.pill.info-location {
  background-color: #ea4335;
  color: rgba(0, 0, 0, 0.5);
}

span.pill.count-link {
  background-color: rgba(0, 192, 0, 0.75);
}

span.pill.count-similar {
  background-color: rgba(192, 192, 0, 0.75);
}

span.pill.count-duplicate {
  background-color: rgba(192, 0, 0, 0.75);
}

span.icon.circle.info-location {
  color: #ea4335;
}

span.icon.circle.count-link {
  color: #00c000;
}

span.icon.circle.count-similar {
  color: #c0c000;
}

span.icon.circle.count-duplicate {
  color: #c00000;
}

a.button.minimal, button.minimal {
  background: rgba(255, 255, 255, 0.1);
  color: rgba(240, 240, 240, 0.4);
  cursor: pointer;
  padding: unset;
  border: unset;
  border-radius: 2px;
}

a.button.minimal:hover, button.minimal:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: rgba(240, 240, 240, 0.5);
}

a.button.minimal:active, button.minimal:active {
  background-color: rgba(255, 255, 255, 0.4);
  color: #f0f0f0;
}

a.button.minimal:focus, button.minimal:focus {
  outline: unset;
  outline-offset: unset;
  background-color: rgba(160, 64, 255, 0.2);
}

main.files.list > table > colgroup > col:nth-child(1),
main.files.list > table > thead > tr > th:nth-child(1),
main.files.list > table > tbody > tr > td:nth-child(1) {
  border-right: none;
}

main.files.list > table > colgroup > col:nth-child(2),
main.files.list > table > thead > tr > th:nth-child(2),
main.files.list > table > tbody > tr > td:nth-child(2) {
  border-left: none;
  width: 92px;
}

main.files.list > table > colgroup > col:nth-child(3),
main.files.list > table > thead > tr > th:nth-child(3),
main.files.list > table > tbody > tr > td:nth-child(3) {
  width: 12ch;
}

main.files.list > table > colgroup > col:nth-child(4),
main.files.list > table > thead > tr > th:nth-child(4),
main.files.list > table > tbody > tr > td:nth-child(4) {
  width: 11ch;
}

main.files.list > table > colgroup > col:nth-child(5),
main.files.list > table > thead > tr > th:nth-child(5),
main.files.list > table > tbody > tr > td:nth-child(5) {
  width: 22ch;
}

@media (max-width: 992px) {
  main.files.list > table > colgroup > col:nth-child(2),
main.files.list > table > thead > tr > th:nth-child(2),
main.files.list > table > tbody > tr > td:nth-child(2) {
    display: none;
  }
  main.files.list > table > colgroup > col:nth-child(3),
main.files.list > table > thead > tr > th:nth-child(3),
main.files.list > table > tbody > tr > td:nth-child(3) {
    display: none;
  }
}

@media (max-width: 768px) {
  main.files.list > table > colgroup > col:nth-child(3),
main.files.list > table > thead > tr > th:nth-child(3),
main.files.list > table > tbody > tr > td:nth-child(3) {
    display: none;
  }
  main.files.list > table > colgroup > col:nth-child(5),
main.files.list > table > thead > tr > th:nth-child(5),
main.files.list > table > tbody > tr > td:nth-child(5) {
    display: none;
  }
}

@media (max-width: 576px) {
  main.files.list > table > colgroup > col:nth-child(3),
main.files.list > table > thead > tr > th:nth-child(3),
main.files.list > table > tbody > tr > td:nth-child(3) {
    display: none;
  }
  main.files.list > table > colgroup > col:nth-child(4),
main.files.list > table > thead > tr > th:nth-child(4),
main.files.list > table > tbody > tr > td:nth-child(4) {
    display: none;
  }
  main.files.list > table > colgroup > col:nth-child(5),
main.files.list > table > thead > tr > th:nth-child(5),
main.files.list > table > tbody > tr > td:nth-child(5) {
    display: none;
  }
}

main.files.list > table > tbody > tr > td:nth-child(2) {
  padding-left: 0px;
  text-align: right;
}

main.files.list > table > tbody > tr > td:nth-child(2) > span.actions > * {
  margin-left: 2px;
}

main.files.list > table > tbody > tr > td:nth-child(2) > span.actions > a.button.minimal:not(:hover):not(:active):not(:focus), main.files.list > table > tbody > tr > td:nth-child(2) > span.actions > button.minimal:not(:hover):not(:active):not(:focus) {
  background-color: unset;
}

main.files.grid, main.files.large {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 577px) {
  main.files.grid, main.files.large {
    margin: 4px;
  }
}

main.files.grid > div.item, main.files.large > div.item {
  box-sizing: content-box;
  position: relative;
  font-size: 0.85em;
}

@media (min-width: 577px) {
  main.files.grid > div.item, main.files.large > div.item {
    border: 1px solid #070707;
    background-color: #404040;
    border-radius: 4px;
    margin: 4px;
    padding: 8px;
  }
}

main.files.grid > div.item a, main.files.large > div.item a {
  color: #f0f0f0;
  text-decoration: none;
}

main.files.grid > div.item > a, main.files.large > div.item > a {
  display: block;
}

main.files.grid > div.item pre, main.files.large > div.item pre {
  margin: 0px;
  line-height: 1em;
}

main.files.grid > div.item > div.header, main.files.grid > div.item > div.footer,
main.files.grid > div.item > a > div.header, main.files.grid > div.item > a > div.footer, main.files.large > div.item > div.header, main.files.large > div.item > div.footer,
main.files.large > div.item > a > div.header, main.files.large > div.item > a > div.footer {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

main.files.grid > div.item > div.header, main.files.grid > div.item > a > div.header, main.files.large > div.item > div.header, main.files.large > div.item > a > div.header {
  font-weight: bold;
}

@media (min-width: 577px) {
  main.files.grid > div.item > div.header, main.files.grid > div.item > a > div.header, main.files.large > div.item > div.header, main.files.large > div.item > a > div.header {
    margin-bottom: 8px;
  }
}

@media (min-width: 577px) {
  main.files.grid > div.item > div.footer, main.files.grid > div.item > a > div.footer, main.files.large > div.item > div.footer, main.files.large > div.item > a > div.footer {
    margin-top: 8px;
  }
}

main.files.grid > div.item > div.thumbnail, main.files.grid > div.item > a > div.thumbnail, main.files.large > div.item > div.thumbnail, main.files.large > div.item > a > div.thumbnail {
  display: table-cell;
  box-sizing: content-box;
  position: relative;
  text-align: center;
  vertical-align: middle;
}

@media (min-width: 577px) {
  main.files.grid > div.item > div.thumbnail, main.files.grid > div.item > a > div.thumbnail, main.files.large > div.item > div.thumbnail, main.files.large > div.item > a > div.thumbnail {
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid #070707;
    border-radius: 4px;
  }
}

main.files.grid > div.item > div.thumbnail > span.message.icon, main.files.grid > div.item > a > div.thumbnail > span.message.icon, main.files.large > div.item > div.thumbnail > span.message.icon, main.files.large > div.item > a > div.thumbnail > span.message.icon {
  color: rgba(240, 240, 240, 0.1);
}

main.files.grid > div.item > div.thumbnail > img, main.files.grid > div.item > div.thumbnail > video, main.files.grid > div.item > a > div.thumbnail > img, main.files.grid > div.item > a > div.thumbnail > video, main.files.large > div.item > div.thumbnail > img, main.files.large > div.item > div.thumbnail > video, main.files.large > div.item > a > div.thumbnail > img, main.files.large > div.item > a > div.thumbnail > video {
  vertical-align: middle;
}

main.files.grid > div.item > div.thumbnail > div.overlay, main.files.grid > div.item > a > div.thumbnail > div.overlay, main.files.large > div.item > div.thumbnail > div.overlay, main.files.large > div.item > a > div.thumbnail > div.overlay {
  position: absolute;
  z-index: 1;
  bottom: 4px;
}

main.files.grid > div.item > div.thumbnail > div.overlay.left, main.files.grid > div.item > a > div.thumbnail > div.overlay.left, main.files.large > div.item > div.thumbnail > div.overlay.left, main.files.large > div.item > a > div.thumbnail > div.overlay.left {
  left: 4px;
}

main.files.grid > div.item > div.thumbnail > div.overlay.right, main.files.grid > div.item > a > div.thumbnail > div.overlay.right, main.files.large > div.item > div.thumbnail > div.overlay.right, main.files.large > div.item > a > div.thumbnail > div.overlay.right {
  right: 4px;
}

main.files.grid > div.item > div.thumbnail > div.overlay.left > span, main.files.grid > div.item > a > div.thumbnail > div.overlay.left > span, main.files.large > div.item > div.thumbnail > div.overlay.left > span, main.files.large > div.item > a > div.thumbnail > div.overlay.left > span {
  margin-right: 2px;
}

main.files.grid > div.item > div.thumbnail > div.overlay.right > span, main.files.grid > div.item > a > div.thumbnail > div.overlay.right > span, main.files.large > div.item > div.thumbnail > div.overlay.right > span, main.files.large > div.item > a > div.thumbnail > div.overlay.right > span {
  margin-left: 2px;
}

main.files.grid > div.item {
  width: 128px;
  text-align: center;
}

@media (min-width: 577px) {
  main.files.grid > div.item {
    width: 130px;
    text-align: unset;
  }
}

main.files.grid > div.item > div.thumbnail,
main.files.grid > div.item > a > div.thumbnail {
  width: 128px;
  height: 128px;
}

main.files.grid > div.item > div.thumbnail > span.message.icon,
main.files.grid > div.item > a > div.thumbnail > span.message.icon {
  font-size: 64px;
}

main.files.grid > div.item > div.thumbnail > img, main.files.grid > div.item > div.thumbnail > video,
main.files.grid > div.item > a > div.thumbnail > img,
main.files.grid > div.item > a > div.thumbnail > video {
  max-width: 128px;
  max-height: 128px;
}

main.files.grid > div.item > div.thumbnail > div.overlay > span.icon.circle,
main.files.grid > div.item > a > div.thumbnail > div.overlay > span.icon.circle {
  font-size: 0.5em;
  opacity: 0.375;
}

main.files.grid > div.item:hover {
  background-color: #70409f;
}

@media (max-width: 576px) {
  main.files.grid > div.item:hover {
    background-color: rgba(160, 64, 255, 0.333333);
  }
}

main.files.grid > div.item:hover > div.thumbnail > div.overlay > span.icon.circle, main.files.grid > div.item:hover > a > div.thumbnail > div.overlay > span.icon.circle {
  opacity: 0.75;
}

@media (max-width: 576px) {
  main.files.large {
    display: block;
  }
}

main.files.large > div.item {
  font-size: 0.9em;
  width: 258px;
}

@media (max-width: 576px) {
  main.files.large > div.item {
    border-bottom: 1px solid #3a3a3a;
    padding: 4px 0px;
    width: unset;
  }
  main.files.large > div.item > div.header, main.files.large > div.item > a > div.header {
    padding-bottom: 4px;
  }
  main.files.large > div.item > div.footer, main.files.large > div.item > a > div.footer {
    padding-top: 4px;
  }
}

main.files.large > div.item > div.thumbnail,
main.files.large > div.item > a > div.thumbnail {
  background-color: rgba(0, 0, 0, 0.8);
  width: 256px;
  height: 256px;
}

@media (max-width: 576px) {
  main.files.large > div.item > div.thumbnail,
main.files.large > div.item > a > div.thumbnail {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100vw;
  }
}

main.files.large > div.item > div.thumbnail > span.message.icon,
main.files.large > div.item > a > div.thumbnail > span.message.icon {
  font-size: 128px;
}

main.files.large > div.item > div.thumbnail > img, main.files.large > div.item > div.thumbnail > video,
main.files.large > div.item > a > div.thumbnail > img,
main.files.large > div.item > a > div.thumbnail > video {
  max-width: 256px;
  max-height: 256px;
}

main.files.large > div.item > div.thumbnail:hover,
main.files.large > div.item > a > div.thumbnail:hover {
  outline: 1px solid #a040ff;
}

main.files.large > div.item > div.footer {
  min-height: 2em;
}

@media (max-width: 576px) {
  main.files.large > div.item > div.footer {
    margin: 0px 4px 0px;
  }
}

main.files.large > div.item > div.footer > span.actions {
  position: absolute;
  right: 8px;
  bottom: 8px;
}

main.files.large > div.item > div.footer > span.actions > * {
  margin-left: 2px;
}

main.files.large > div.item > div.footer > span.actions > a.button.minimal, main.files.large > div.item > div.footer > span.actions > button.minimal {
  color: #f0f0f0;
  padding: 2px;
}

@media (max-width: 576px) {
  main.files.large > div.item > div.footer > span.actions > a.button.minimal, main.files.large > div.item > div.footer > span.actions > button.minimal {
    font-size: 1.5em;
  }
}

@media (min-width: 769px) {
  div.table-chart {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  div.table-chart > table {
    margin: 0px;
  }
  div.table-chart > div.chart {
    margin: 0px 8px 0px 32px;
  }
}

@media (min-width: 1201px) {
  div.table-chart > div.chart {
    margin-right: 0px;
  }
}

div.chart {
  margin: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 16px;
}

div.chart > svg > .slice {
  cursor: pointer;
  fill: #a040ff;
}

div.chart > svg > .slice:hover {
  filter: brightness(110%);
}

div.chart > svg > .slice-0 {
  fill: #b46cfb;
}

div.chart > svg > .slice-1 {
  fill: #b875fb;
}

div.chart > svg > .slice-2 {
  fill: #bc7efa;
}

div.chart > svg > .slice-3 {
  fill: #c086f9;
}

div.chart > svg > .slice-4 {
  fill: #c48ff8;
}

div.chart > svg > .slice-5 {
  fill: #c898f8;
}

div.chart > svg > .slice-6 {
  fill: #cca1f7;
}

div.chart > svg > .slice-7 {
  fill: #d0aaf6;
}

div.chart > svg > .slice-8 {
  fill: #d4b2f5;
}

div.chart > svg > .slice-9 {
  fill: #d8bbf5;
}

div.chart > svg > .slice-10 {
  fill: #dcc4f4;
}

div.chart > svg > .slice-11 {
  fill: #e0cdf3;
}

div.chart > svg > .slice-12 {
  fill: #e4d6f2;
}

div.chart > svg > .slice-13 {
  fill: #e8def2;
}

div.chart > svg > .slice-14 {
  fill: #ece7f1;
}

div.chart > svg > .slice-15 {
  fill: #f0f0f0;
}

div.chart > svg > .overlay {
  stroke-width: 1px;
  stroke: #603090;
  fill: none;
}

div.chart > ul {
  list-style: none;
  min-width: 6em;
  margin: 0px;
  padding: 0px;
}

div.chart > ul > li::before {
  color: #a040ff;
  display: inline-block;
  font-family: "ForkAwesome";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  content: '\f0c8';
  margin: 0px 8px 0px 0px;
}

div.chart > ul li.slice-0::before {
  color: #b46cfb;
}

div.chart > ul li.slice-1::before {
  color: #b875fb;
}

div.chart > ul li.slice-2::before {
  color: #bc7efa;
}

div.chart > ul li.slice-3::before {
  color: #c086f9;
}

div.chart > ul li.slice-4::before {
  color: #c48ff8;
}

div.chart > ul li.slice-5::before {
  color: #c898f8;
}

div.chart > ul li.slice-6::before {
  color: #cca1f7;
}

div.chart > ul li.slice-7::before {
  color: #d0aaf6;
}

div.chart > ul li.slice-8::before {
  color: #d4b2f5;
}

div.chart > ul li.slice-9::before {
  color: #d8bbf5;
}

div.chart > ul li.slice-10::before {
  color: #dcc4f4;
}

div.chart > ul li.slice-11::before {
  color: #e0cdf3;
}

div.chart > ul li.slice-12::before {
  color: #e4d6f2;
}

div.chart > ul li.slice-13::before {
  color: #e8def2;
}

div.chart > ul li.slice-14::before {
  color: #ece7f1;
}

div.chart > ul li.slice-15::before {
  color: #f0f0f0;
}

div.map {
  width: 100%;
  height: 80vh;
  border: 1px solid #070707;
  background-color: #aad3df;
}

div.map div.overlay {
  background-color: #404040;
  color: white;
  padding: 8px;
  border-radius: 4px;
  max-height: 14em;
  display: flex;
}

div.map div.overlay > div {
  overflow: auto;
}

div.map div.overlay > div > ul {
  margin: 0px;
  padding-left: 2ch;
}
