*, *:before, *:after { box-sizing: border-box; }

body {
	background-color: $color-background;
	color: $color-foreground;
	font-family: $font-regular, sans-serif;
	font-size: 15px;
	margin: 0px;

	&.center {
		display: grid;
		place-items: center center;
	}

	@media(max-width: $width-tablet) {
		font-size: 16px;
	}

	@media(max-width: $width-phone) {
		font-size: 17px;
	}

	@media(min-width: $width-phone + 1px) {
		&.center {
			height: 100vh;
			overflow: hidden;
		}
	}

	&:not(.center) > div.container {
		margin: 0px auto;
		max-width: $width-desktop;

		@media(min-width: $width-desktop + 1px) {
			padding: $spacing-normal 0px;
		}
	}

	&.center > div.container {
		padding: 0px $spacing-normal;
	}
}

::selection { background-color: change-color($color-primary, $alpha: 0.5); }

h1::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
	color: $color-primary;
	content: '\2605';
	padding-right: 0.2em;
}

h1::after,
h2::after,
h3::after,
h4::after,
h5::after,
h6::after {
	color: $color-primary;
	content: '\2605';
	padding-left: 0.2em;
}

h1, h2, h3, h4, h5, h6 { text-transform: uppercase; }

a {
	color: $color-primary;
	text-decoration: none;
}

a:hover {
	color: lighten($color-primary, $intensity);
	text-decoration: underline;
}

a:visited { color: darken($color-primary, $intensity); }

pre, code, kbd, samp, textarea {
	font-family: $font-monospace;
}

textarea {
	font-size: unset;
	font-weight: unset;
}

mark { background-color: change-color($color-primary, $lightness: 75%); }

hr {
	border: 0px;
	border-top: $hairline solid $color-line;
}

table {
	border: $hairline solid $color-line;
	border-collapse: collapse;
	border-spacing: 0px;
	width: 100%;
	max-width: 100%;
	margin: $spacing-normal 0px;
	text-align: left;
	table-layout: fixed;

	@media (max-width: $width-phone) {
		margin: 0px;
	}

	th, td
	{
		border: $hairline solid $color-line;
		padding: $spacing-normal;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	&:not(.striped) th,
	&.striped > tbody > tr:nth-of-type(2n + 1) {
		background-color: mix($color-background, $color-line, 50%);
	}
}
