div.table-chart {
	@media(min-width: $width-tablet + 1) {
		display: flex;
		justify-content: space-between;
		align-items: center;

		& > table {
			margin: 0px;
		}

		& > div.chart {
			margin: 0px $spacing-normal 0px $spacing-large * 2;
		}
	}

	@media(min-width: $width-desktop + 1) {
		& > div.chart {
			margin-right: 0px;
		}
	}
}

div.chart {
	margin: $spacing-large;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
	gap: $spacing-large;

	& > svg {
		& > .slice {
			cursor: pointer;
			fill: $color-primary;

			&:hover {
				filter: brightness(100% + $intensity);
			}
		}

		@for $i from 0 through 15 {
			& > .slice-#{$i} {
				fill: mix($color-foreground, $color-primary, 25% + ($i * 5%));
			}
		}

		& > .overlay {
			stroke-width: $hairline;
			stroke: mix($color-background, $color-primary, 50%);
			fill: none;
		}
	}

	& > ul {
		list-style: none;
		min-width: 6em;
		margin: 0px;
		padding: 0px;

		> li::before {
			color: $color-primary;
			display: inline-block;
			font-family: $font-icon;
			font-style: normal;
			font-variant: normal;
			font-weight: normal;
			content: '\f0c8';
			margin: 0px $spacing-normal 0px 0px;
		}

		@for $i from 0 through 15 {
			& li.slice-#{$i}::before {
				color: mix($color-foreground, $color-primary, 25% + ($i * 5%));
			}
		}
	}
}
