@font-face {
	font-family: 'Blinker';
	font-style: normal;
	font-weight: 400;
	src: url('../font/blinker-400.woff2') format('woff2'), url('../font/blinker-400.woff') format('woff');
}

@font-face {
	font-family: 'Blinker';
	font-style: normal;
	font-weight: 700;
	src: url('../font/blinker-700.woff2') format('woff2'), url('../font/blinker-700.woff') format('woff');
}

@font-face {
	font-family: 'Anonymous Pro';
	font-style: normal;
	font-weight: 400;
	src: url('../font/anonymous-pro-400.woff2') format('woff2'), url('../font/anonymous-pro-400.woff') format('woff');
}

@font-face {
	font-family: 'Anonymous Pro';
	font-style: normal;
	font-weight: 700;
	src: url('../font/anonymous-pro-700.woff2') format('woff2'), url('../font/anonymous-pro-700.woff') format('woff');
}

@font-face {
	font-family: 'ForkAwesome';
	font-style: normal;
	font-weight: normal;
	src: url('../font/forkawesome.woff2') format('woff2'), url('../font/forkawesome.woff') format('woff');
}
