input, button, select {
	font-family: unset;
	font-size: unset;
	font-weight: unset;
}

span.buttons {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

a.button {
	display: inline-block;
	text-align: center;
	vertical-align: baseline;
	cursor: default;
	user-select: none;
}

a.button:hover, a.button:visited {
	color: unset;
	text-decoration: unset;
}

a.button,
input[type=button],
input[type=submit],
input[type=reset],
input[type=color],
button {
	background: linear-gradient(to bottom, lighten($color-primary, $intensity), $color-primary, darken($color-primary, $intensity));
	color: white;
	text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
	padding: $spacing-small $spacing-normal;
	border: $hairline solid darken($color-primary, 25%);
	border-radius: $radius-normal;

	&:hover {
		background: linear-gradient(to bottom, adjust-color(lighten($color-primary, $intensity), $lightness: $intensity), adjust-color($color-primary, $lightness: $intensity), adjust-color(darken($color-primary, $intensity), $lightness: $intensity));
	}

	&:active {
		background: linear-gradient(to bottom, darken($color-primary, $intensity), $color-primary, lighten($color-primary, $intensity));
	}

	&:disabled {
		background: linear-gradient(to bottom, change-color(lighten($color-primary, $intensity), $saturation: 0), change-color($color-primary, $saturation: 0), change-color(darken($color-primary, $intensity), $saturation: 0));
		border-color: change-color(darken($color-primary, 25%), $saturation: 0);

		&.pressed
		{
			background: linear-gradient(to bottom, darken(darken($color-primary, $intensity), $intensity), darken($color-primary, $intensity), darken(lighten($color-primary, $intensity), $intensity));
			border-color: darken($color-primary, 25%);
		}
	}

	&:focus {
		outline: $hairline dotted white;
		outline-offset: -$spacing-small - 1px;
	}

	span.buttons > &:not(:first-child) {
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
	}

	span.buttons > &:not(:last-child) {
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
		margin-right: -$hairline;
	}
}

input[type=color] {
	height: 2em;
}

input[type=text],
input[type=password],
input[type=url],
input[type=email],
input[type=tel],
input[type=search],
input[type=number],
input[type=date],
input[type=month],
input[type=week],
input[type=datetime],
input[type=datetime-local],
textarea,
select {
	background: rgba(0,0,0,0.5);
	color: white;
	border: $hairline black solid;
	border-radius: $radius-small;
	padding: $spacing-small;

	&:focus {
		outline: $hairline $color-primary solid;
	}
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0px;
}

input[type=number] {
	-moz-appearance: textfield;
}

fieldset { border: $hairline solid $color-line; }
fieldset > legend {
	color: darken($color-foreground, 25%);
	padding: 0px $spacing-small;
}
