span.pill {
	display: inline-block;
	color: $color-info-text;
	border-radius: $radius-large;
	background-color: change-color($color-info-generic, $alpha: $alpha-pill);
	text-align: center;
	font-weight: bold;
	min-width: 1.5em;

	&.info-location {
		background-color: $color-info-location;
		color: rgba(0, 0, 0, 0.5);
	}

	&.count-link { background-color: change-color($color-count-link, $alpha: $alpha-pill); }
	&.count-similar { background-color: change-color($color-count-similar, $alpha: $alpha-pill); }
	&.count-duplicate { background-color: change-color($color-count-duplicate, $alpha: $alpha-pill); }
}

span.icon.circle {
	&.info-location { color: $color-info-location; }
	&.count-link { color: $color-count-link; }
	&.count-similar { color: $color-count-similar; }
	&.count-duplicate { color: $color-count-duplicate; }
}

a.button.minimal, button.minimal {
	background: rgba(255, 255, 255, 0.1);
	color: change-color($color-foreground, $alpha: 0.4);
	cursor: pointer;

	padding: unset;
	border: unset;
	border-radius: 2px;

	&:hover {
		background-color: rgba(255, 255, 255, 0.2);
		color: change-color($color-foreground, $alpha: 0.5);
	}

	&:active {
		background-color: rgba(255, 255, 255, 0.4);
		color: $color-foreground;
	}

	&:focus {
		outline: unset;
		outline-offset: unset;

		background-color: change-color($color-primary, $alpha: 0.2);
	}
}

main.files.list {
	> table > colgroup > col,
	> table > thead > tr > th,
	> table > tbody > tr > td {
		&:nth-child(1) {
			border-right: none;
		}

		&:nth-child(2) {
			border-left: none;
			width: (21px * 4) + $spacing-normal;
		}

		&:nth-child(3) {
			width: 12ch;
		}

		&:nth-child(4) {
			width: 11ch;
		}

		&:nth-child(5) {
			width: 22ch;
		}

		@media (max-width: $width-laptop) {
			&:nth-child(2) {
				display: none
			}

			&:nth-child(3) {
				display: none;
			}
		}

		@media(max-width: $width-tablet) {
			&:nth-child(3) {
				display: none;
			}
			&:nth-child(5) {
				display: none;
			}
		}

		@media(max-width: $width-phone) {
			&:nth-child(3) {
				display: none
			}
			&:nth-child(4) {
				display: none
			}
			&:nth-child(5) {
				display: none
			}
		}
	}

	> table > tbody > tr > td:nth-child(2) {
		padding-left: 0px;
		text-align: right;

		> span.actions {
			> * { margin-left: 2px; }
			> a.button.minimal, > button.minimal { &:not(:hover):not(:active):not(:focus) { background-color: unset; }}
		}
	}
}

main.files.grid, main.files.large {
	display: flex;
	flex-wrap: wrap;

	@media (min-width: $width-phone + 1) {
		margin: $spacing-normal / 2;
	}

	> div.item {
		box-sizing: content-box;
		position: relative;
		font-size: 0.85em;

		@media(min-width: $width-phone + 1) {
			border: $hairline solid $color-border;
			background-color: $color-control;
			border-radius: $radius-normal;
			margin: $spacing-normal / 2;
			padding: $spacing-normal;
		}

		a {
			color: $color-foreground;
			text-decoration: none;
		}

		> a {
			display: block;
		}

		pre {
			margin: 0px;
			line-height: 1em;
		}

		> div.header, > div.footer,
		> a > div.header, > a > div.footer {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		> div.header, > a > div.header {
			font-weight: bold;
			@media (min-width: $width-phone + 1) { margin-bottom: $spacing-normal; }
		}

		> div.footer, > a > div.footer {
			@media (min-width: $width-phone + 1) { margin-top: $spacing-normal; }
		}

		> div.thumbnail, > a > div.thumbnail {
			display: table-cell;
			box-sizing: content-box;
			position: relative;
			text-align: center;
			vertical-align: middle;

			@media (min-width: $width-phone + 1) {
				background-color: rgba(0, 0, 0, 0.6);
				border: $hairline solid $color-border;
				border-radius: $radius-normal;
			}

			> span.message.icon {
				color: change-color($color-foreground, $alpha: 0.1);
			}

			> img, > video {
				vertical-align: middle;
			}

			> div.overlay {
				position: absolute;
				z-index: 1;
				bottom: $spacing-small;

				&.left { left: $spacing-small; }
				&.right { right: $spacing-small; }

				&.left > span { margin-right: 2px; }
				&.right > span { margin-left: 2px; }
			}
		}
	}
}

main.files.grid {
	$size: 128px;

	> div.item {
		width: $size;
		text-align: center;

		@media(min-width: $width-phone + 1) {
			width: $size + ($hairline * 2);
			text-align: unset;
		}

		> div.thumbnail,
		> a > div.thumbnail {
			width: $size;
			height: $size;

			> span.message.icon {
				font-size: $size / 2;
			}

			> img, > video {
				max-width: $size;
				max-height: $size;
			}

			> div.overlay > span.icon.circle {
				font-size: 0.5em;
				opacity: $alpha-pill / 2;
			}
		}

		&:hover {
			background-color: mix($color-control, $color-primary);
			@media (max-width: $width-phone) {
				background-color: change-color($color: $color-primary, $alpha: 1.0 / 3.0);
			}

			> div.thumbnail, > a > div.thumbnail {
				> div.overlay > span.icon.circle {
					opacity: $alpha-pill;
				}
			}
		}
	}
}

main.files.large {
	$size: 256px;

	@media (max-width: $width-phone) {
		display: block;
	}

	> div.item {
		font-size: 0.9em;
		width: $size + ($hairline * 2);

		@media(max-width: $width-phone) {
			border-bottom: $hairline solid $color-line;
			padding: $spacing-small 0px;
			width: unset;

			> div.header, > a > div.header {
				padding-bottom: $spacing-small;
			}

			> div.footer, > a > div.footer {
				padding-top: $spacing-small;
			}
		}

		> div.thumbnail,
		> a > div.thumbnail {
			background-color: rgba(0, 0, 0, 0.8);

			width: $size;
			height: $size;

			@media (max-width: $width-phone) {
				background-color: rgba(0, 0, 0, 0.3);
				width: 100vw;
			}

			> span.message.icon {
				font-size: $size / 2;
			}

			> img, > video {
				max-width: $size;
				max-height: $size;
			}

			&:hover {
				outline: $hairline solid $color-primary;
			}
		}

		> div.footer {
			min-height: 2em;

			@media (max-width: $width-phone) {
				margin: 0px $spacing-small 0px;
			}

			> span.actions {
				position: absolute;
				right: $spacing-normal;
				bottom: $spacing-normal;

				> * { margin-left: 2px; }
				> a.button.minimal, > button.minimal
				{
					color: $color-foreground;
					padding: 2px;

					@media (max-width: $width-phone) {
						font-size: 1.5em;
					}
				}
			}
		}
	}
}
