header.header {
	border: $hairline solid $color-border;
	background-color: $color-control;
	border-radius: $radius-normal;
	margin: 0px 0px $spacing-normal;
	padding: $spacing-normal;
	display: flex;
	align-items: baseline;
	justify-content: flex-end;
	white-space: nowrap;

	@media(max-width: $width-desktop) {
		border-width: 0px 0px $hairline;
		border-radius: 0px;
	}

	@media(max-width: $width-phone) {
		margin-bottom: 0px;
	}

	> h1, > h2, > h3, > h4, > h5, > h6 {
		text-transform: revert;
		font-size: 1.2em;
		margin: 0px auto 0px $spacing-normal;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	> h1::before, > h1::after,
	> h2::before, > h2::after,
	> h3::before, > h3::after,
	> h4::before, > h4::after,
	> h5::before, > h5::after,
	> h6::before, > h6::after {
		color: revert;
		content: revert;
		padding-left: revert;
		padding-right: revert;
	}

	> *:not(:first-child) {
		margin-left: $spacing-normal;
	}

	> span.flag {
		font-size: 21px;
		align-self: center;
	}

	> img.avatar {
		align-self: center;
		clip-path: circle(50% at center);
	}

	> span.username {
		font-weight: bold;
		text-decoration: underline dotted;
		cursor: pointer;
	}
}
