.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }

.hidden { display: none !important; }

@media (max-width: $width-phone) { .hidden-phone { display: none !important; }}
@media (max-width: $width-tablet) { .hidden-tablet { display: none !important; }}
@media (max-width: $width-laptop) { .hidden-laptop { display: none !important; }}
@media (max-width: $width-desktop) { .hidden-desktop { display: none !important; }}

.block { display: block; }
.inline-block { display: inline-block; }
.wide { width: 100%; }

.spaced {
	@each $side in '', '-left', '-top', '-right', '-bottom' {
		&#{$side} { margin#{$side}: $spacing-normal; }
		&#{$side}-small { margin#{$side}: $spacing-small; }
		&#{$side}-large { margin#{$side}: $spacing-large; }
	}
}

.muted { color: mix($color-background, $color-foreground); }
.ghost { opacity: 0.5; }
.uwu { text-transform: lowercase; }
