span.icon {
	display: inline-block;
	font-family: $font-icon;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: inherit;
	line-height: 1;
	text-align: center;
	text-rendering: auto;
	width: 1.25em;

	&.music:before { content: '\f001'; }
	&.film:before { content: '\f008'; }
	&.th-large:before { content: '\f009'; }
	&.th:before { content: '\f00a'; }
	&.th-list:before { content: '\f00b'; }
	&.times:before { content: '\f00d'; }
	&.power-off:before { content: '\f011'; }
	&.cog:before { content: '\f013'; }
	&.home:before { content: '\f015'; }
	&.file-o:before { content: '\f016'; }
	&.clock-o:before { content: '\f017'; }
	&.download:before { content: '\f019'; }
	&.picture-o:before { content: '\f03e'; }
	&.map-marker:before { content: '\f041'; }
	&.info-circle:before { content: '\f05a'; }
	&.eye:before { content: '\f06e'; }
	&.folder-open:before { content: '\f07c'; }
	&.link:before { content: '\f0c1'; }
	&.files-o:before { content: '\f0c5'; }
	&.spinner:before { content: '\f110'; }
	&.circle:before { content: '\f111'; }
	&.folder-open-o:before { content: '\f115'; }
	&.external-link-square:before { content: '\f14c'; }
	&.file:before { content: '\f15b'; }
	&.sort-alpha-asc:before { content: '\f15d'; }
	&.sort-amount-asc:before { content: '\f160'; }
	&.sort-amount-desc:before { content: '\f161'; }
	&.sort-numeric-asc:before { content: '\f162'; }
	&.database:before { content: '\f1c0'; }
	&.image-o:before { content: '\f1c5'; }
	&.audio-o:before { content: '\f1c7'; }
	&.video-o:before { content: '\f1c8'; }
	&.map-o:before { content: '\f278'; }

	&.spinner {
		animation: spin 2s infinite linear;
	}

	@keyframes spin {
		0% { transform: rotate(0deg); }
		100% { transform: rotate(359deg); }
	}
}
