div.map {
	width: 100%;
	height: 80vh;
	border: $hairline solid $color-border;
	background-color: #aad3df;

	div.overlay {
		background-color: $color-info-generic;
		color: $color-info-text;
		padding: $spacing-normal;
		border-radius: $radius-normal;
		max-height: 14em;
		display: flex;

		> div {
			overflow: auto;

			> ul {
				margin: 0px;
				padding-left: 2ch;
			}
		}
	}
}
