body.modal {
	overflow: hidden;
}

div.modal {
	position: fixed;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 2;

	background: rgba(0, 0, 0, 0.5);
	color: white;

	display: grid;
	place-items: center center;
	user-select: none;

	> div.content {
		border: 1px solid black;
		background-color: $color-background;
		padding: $spacing-large;

		h1,h2,h3,h4,h5,h6 {
			margin-top: 0px;
			margin-bottom: $spacing-large;
			text-align: center;
		}
	}
}
