ol.path {
	list-style-type: none;
	padding: 0px 0px 0px $spacing-normal;

	> li { display: inline; }
	> li:not(:last-child)::after {
		color: mix($color-background, $color-foreground, 33%);
		font-family: $font-icon;
		font-style: normal;
		font-variant: normal;
		font-weight: normal;
		content: '\f105';
		margin: 0px $spacing-small;
	}
}

nav.path {
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: $radius-normal;
	padding: $spacing-normal;

	@media(max-width: $width-desktop) {
		border-radius: 0px;
	}

	> ol.path {
		margin: 0px;
		padding: 0px;
	}
}
