$color-background: #202020;
$color-foreground: #f0f0f0;
$color-primary: #a040ff; // sync with mkstar.py, base.tpl, intro.js, map.js

$intensity: 10%;

$color-line: lighten($color-background, $intensity);
$color-border: darken($color-background, $intensity);
$color-control: lighten($color-background, $intensity * 1.25);

$color-info-text: white;
$color-info-generic: #404040;
$color-info-location: #ea4335; // sync with marker.svg

$color-count-link: #00c000;
$color-count-similar: #c0c000;
$color-count-duplicate: #c00000;

$alpha-pill: 0.75;
